In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import os

# Data Modeling

## ONE Data

In [2]:
# Reeding the data
capitas_pagadas = pd.read_excel('../data/raw/one/afiliados-número-cápitas-cápitas-pagadas-sfs-según-régimen-2005-2023.xlsx', engine='openpyxl')

capitas_pagadas

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,REPÚBLICA DOMINICANA: REPÚBLICA DOMINICANA: Af...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Años,NaN,2005.000000,2006.000000,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,...,2.020000e+03,2.021000e+03,2022*,NaN,NaN,NaN,2023,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Primer trimestre,Segundo trimestre,Tercer trimestre,Cuarto trimestre,Primer trimestre,Segundo trimestre,Tercer trimestre,Cuarto trimestre
4,Afiliados,Total,253374.000000,514040.000000,2.559117e+06,2.917157e+06,3.492524e+06,4.377869e+06,4.520850e+06,4.991762e+06,...,9.961742e+06,1.003281e+07,10253925,10322205,10349474,10339111,10377426,10373391,10361122,10267254
5,NaN,Subsidiado,253374.000000,514040.000000,1.081936e+06,1.224898e+06,1.404225e+06,2.013786e+06,2.003427e+06,2.303351e+06,...,5.746839e+06,5.747449e+06,5855670,5858661,5819693,5770201,5762075,5772009,5792752,5690186
6,NaN,Contributivo,0.000000,0.000000,1.477181e+06,1.692259e+06,2.088299e+06,2.364083e+06,2.517423e+06,2.688411e+06,...,4.214903e+06,4.285359e+06,4398255,4463544,4529781,4568910,4615351,4601382,4568370,4577068
7,Numero de cápitas pagadas,Total,266531.000000,513416.000000,2.681403e+06,2.954314e+06,3.442398e+06,4.265825e+06,4.583278e+06,5.042091e+06,...,1.008794e+07,4.359036e+06,4524919,4545853,4602525,4649234,4724982,4680618,4652645,4662640
8,NaN,Subsidiado,266531.000000,513416.000000,1.081936e+06,1.224643e+06,1.346166e+06,1.847833e+06,1.996335e+06,2.294356e+06,...,5.742227e+06,0.000000e+00,0,0,0,0,0,0,0,0
9,NaN,Contributivo,0.000000,0.000000,1.599467e+06,1.729671e+06,2.096232e+06,2.417992e+06,2.586943e+06,2.747735e+06,...,4.345715e+06,4.359036e+06,4524919,4545853,4602525,4649234,4724982,4680618,4652645,4662640
10,Número de cápitas /afiliado,Total,1.051927,0.998786,1.047784e+00,1.012737e+00,9.856476e-01,9.744067e-01,1.013809e+00,1.010082e+00,...,1.012668e+00,4.344782e-01,0.441287,0.440396,0.444711,0.449674,0.511877,0.50861,0.509224,0.509348
11,NaN,Subsidiado,1.051927,0.998786,1.000000e+00,9.997918e-01,9.586541e-01,9.175915e-01,9.964601e-01,9.960948e-01,...,9.991975e-01,0.000000e+00,0,0,0,0,0,0,0,0
12,NaN,Contributivo,0.000000,0.000000,1.082783e+00,1.022108e+00,1.003799e+00,1.022803e+00,1.027616e+00,1.022067e+00,...,1.031036e+00,1.017193e+00,1.028799,1.01844,1.016059,1.017581,1.023754,1.01722,1.018447,1.018696
13,Nota: Los datos corresponden al finalizar el m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,* En el 2022 se presentan los datos al finaliz...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Fuente: Consejo Nacional de la Seguridad Socia...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Filtering the unwanted rows.
capitas_pagadas = capitas_pagadas.iloc[2:-3]

In [4]:
raw_column_name = ''

# Iterating over the rows.
for i in range(capitas_pagadas.shape[0]):
    # If cell corresponds to a title is saved.
    if capitas_pagadas.iloc[i, 0] is not np.nan:
        raw_column_name = capitas_pagadas.iloc[i, 0]
    
    # Creating the column name.
    column_name = f'{raw_column_name} ({capitas_pagadas.iloc[i, 1]})'

    # If column name exist add an index number to differentiate it from the other columns.
    if column_name in capitas_pagadas.iloc[:, 1].values: 
        column_name += f' {i}'

    # Title is added to the sub title to have the column name.
    capitas_pagadas.iloc[i, 1] = column_name

# Transposing and filtering the data.
capitas_pagadas = capitas_pagadas.iloc[:, 1:].T.reset_index(drop=True)
capitas_pagadas

,2,3,4,5,6,7,8,9,10,11,12
0,Años (nan),Años (nan) 1,Afiliados (Total),Afiliados (Subsidiado),Afiliados (Contributivo),Numero de cápitas pagadas (Total),Numero de cápitas pagadas (Subsidiado),Numero de cápitas pagadas (Contributivo),Número de cápitas /afiliado (Total),Número de cápitas /afiliado (Subsidiado),Número de cápitas /afiliado (Contributivo)
1,2005.0,NaN,253374.0,253374.0,0.0,266531.0,266531.0,0.0,1.051927,1.051927,0.0
2,2006.0,NaN,514040.0,514040.0,0.0,513416.0,513416.0,0.0,0.998786,0.998786,0.0
3,2007.0,NaN,2559117.0,1081936.0,1477181.0,2681403.0,1081936.0,1599467.0,1.047784,1.0,1.082783
4,2008.0,NaN,2917157.0,1224898.0,1692259.0,2954314.0,1224643.0,1729671.0,1.012737,0.999792,1.022108
5,2009.0,NaN,3492524.0,1404225.0,2088299.0,3442398.0,1346166.0,2096232.0,0.985648,0.958654,1.003799
6,2010.0,NaN,4377869.0,2013786.0,2364083.0,4265825.0,1847833.0,2417992.0,0.974407,0.917592,1.022803
7,2011.0,NaN,4520850.0,2003427.0,2517423.0,4583278.0,1996335.0,2586943.0,1.013809,0.99646,1.027616
8,2012.0,NaN,4991762.0,2303351.0,2688411.0,5042091.0,2294356.0,2747735.0,1.010082,0.996095,1.022067
9,2013.0,NaN,5611059.0,2751753.0,2859306.0,5612213.0,2646899.0,2965314.0,1.000206,0.961896,1.037075
10,2014.0,NaN,6157245.0,3015646.0,3141599.0,6240593.0,3015646.0,3224947.0,1.013537,1.0,1.02653
11,2015.0,NaN,6657243.0,3317405.0,3339838.0,6517618.0,3110557.0,3407061.0,0.979027,0.937648,1.020128
12,2016.0,NaN,6938356.0,3347068.0,3591288.0,7053382.0,3353566.0,3699816.0,1.016578,1.001941,1.03022
13,2017.0,NaN,7449280.0,3546688.0,3902592.0,7565682.0,3545383.0,4020299.0,1.015626,0.999632,1.030161
14,2018.0,NaN,7774137.0,3620150.0,4153987.0,7831518.0,3591049.0,4240469.0,1.007381,0.991961,1.020819
15,2019.0,NaN,7954923.0,3726262.0,4228661.0,8021503.0,3711158.0,4310345.0,1.00837,0.995947,1.019317
16,2020.0,NaN,9961742.0,5746839.0,4214903.0,10087942.0,5742227.0,4345715.0,1.012668,0.999197,1.031036
17,2021.0,NaN,10032808.0,5747449.0,4285359.0,4359036.0,0.0,4359036.0,0.434478,0.0,1.017193
18,2022*,Primer trimestre,10253925,5855670,4398255,4524919,0,4524919,0.441287,0,1.028799
19,NaN,Segundo trimestre,10322205,5858661,4463544,4545853,0,4545853,0.440396,0,1.01844
20,NaN,Tercer trimestre,10349474,5819693,4529781,4602525,0,4602525,0.444711,0,1.016059
21,NaN,Cuarto trimestre,10339111,5770201,4568910,4649234,0,4649234,0.449674,0,1.017581
22,2023,Primer trimestre,10377426,5762075,4615351,4724982,0,4724982,0.511877,0,1.023754
23,NaN,Segundo trimestre,10373391,5772009,4601382,4680618,0,4680618,0.50861,0,1.01722
24,NaN,Tercer trimestre,10361122,5792752,4568370,4652645,0,4652645,0.509224,0,1.018447
25,NaN,Cuarto trimestre,10267254,5690186,4577068,4662640,0,4662640,0.509348,0,1.018696

In [5]:
# Obtaining the column headers.
headers = capitas_pagadas.iloc[0]
# Replacing the headers.
capitas_pagadas.columns = headers
# Dropping unwanted rows.
capitas_pagadas.drop(labels=0, inplace=True)

capitas_pagadas

,Años (nan),Años (nan) 1,Afiliados (Total),Afiliados (Subsidiado),Afiliados (Contributivo),Numero de cápitas pagadas (Total),Numero de cápitas pagadas (Subsidiado),Numero de cápitas pagadas (Contributivo),Número de cápitas /afiliado (Total),Número de cápitas /afiliado (Subsidiado),Número de cápitas /afiliado (Contributivo)
1,2005.0,NaN,253374.0,253374.0,0.0,266531.0,266531.0,0.0,1.051927,1.051927,0.0
2,2006.0,NaN,514040.0,514040.0,0.0,513416.0,513416.0,0.0,0.998786,0.998786,0.0
3,2007.0,NaN,2559117.0,1081936.0,1477181.0,2681403.0,1081936.0,1599467.0,1.047784,1.0,1.082783
4,2008.0,NaN,2917157.0,1224898.0,1692259.0,2954314.0,1224643.0,1729671.0,1.012737,0.999792,1.022108
5,2009.0,NaN,3492524.0,1404225.0,2088299.0,3442398.0,1346166.0,2096232.0,0.985648,0.958654,1.003799
6,2010.0,NaN,4377869.0,2013786.0,2364083.0,4265825.0,1847833.0,2417992.0,0.974407,0.917592,1.022803
7,2011.0,NaN,4520850.0,2003427.0,2517423.0,4583278.0,1996335.0,2586943.0,1.013809,0.99646,1.027616
8,2012.0,NaN,4991762.0,2303351.0,2688411.0,5042091.0,2294356.0,2747735.0,1.010082,0.996095,1.022067
9,2013.0,NaN,5611059.0,2751753.0,2859306.0,5612213.0,2646899.0,2965314.0,1.000206,0.961896,1.037075
10,2014.0,NaN,6157245.0,3015646.0,3141599.0,6240593.0,3015646.0,3224947.0,1.013537,1.0,1.02653
11,2015.0,NaN,6657243.0,3317405.0,3339838.0,6517618.0,3110557.0,3407061.0,0.979027,0.937648,1.020128
12,2016.0,NaN,6938356.0,3347068.0,3591288.0,7053382.0,3353566.0,3699816.0,1.016578,1.001941,1.03022
13,2017.0,NaN,7449280.0,3546688.0,3902592.0,7565682.0,3545383.0,4020299.0,1.015626,0.999632,1.030161
14,2018.0,NaN,7774137.0,3620150.0,4153987.0,7831518.0,3591049.0,4240469.0,1.007381,0.991961,1.020819
15,2019.0,NaN,7954923.0,3726262.0,4228661.0,8021503.0,3711158.0,4310345.0,1.00837,0.995947,1.019317
16,2020.0,NaN,9961742.0,5746839.0,4214903.0,10087942.0,5742227.0,4345715.0,1.012668,0.999197,1.031036
17,2021.0,NaN,10032808.0,5747449.0,4285359.0,4359036.0,0.0,4359036.0,0.434478,0.0,1.017193
18,2022*,Primer trimestre,10253925,5855670,4398255,4524919,0,4524919,0.441287,0,1.028799
19,NaN,Segundo trimestre,10322205,5858661,4463544,4545853,0,4545853,0.440396,0,1.01844
20,NaN,Tercer trimestre,10349474,5819693,4529781,4602525,0,4602525,0.444711,0,1.016059
21,NaN,Cuarto trimestre,10339111,5770201,4568910,4649234,0,4649234,0.449674,0,1.017581
22,2023,Primer trimestre,10377426,5762075,4615351,4724982,0,4724982,0.511877,0,1.023754
23,NaN,Segundo trimestre,10373391,5772009,4601382,4680618,0,4680618,0.50861,0,1.01722
24,NaN,Tercer trimestre,10361122,5792752,4568370,4652645,0,4652645,0.509224,0,1.018447
25,NaN,Cuarto trimestre,10267254,5690186,4577068,4662640,0,4662640,0.509348,0,1.018696

In [6]:
# Filling the missing years.
capitas_pagadas.iloc[:, 0] = capitas_pagadas.iloc[:, 0].fillna(method='ffill')

C:\Users\Harol Reyes\AppData\Local\Temp\ipykernel_26712\2841815771.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  capitas_pagadas.iloc[:, 0] = capitas_pagadas.iloc[:, 0].fillna(method='ffill')

In [7]:
# Filtering rows.
capitas_pagadas = capitas_pagadas[(capitas_pagadas.iloc[:, 1].str.strip() == 'Cuarto trimestre') | (capitas_pagadas.iloc[:, 1].isna())]
capitas_pagadas

,Años (nan),Años (nan) 1,Afiliados (Total),Afiliados (Subsidiado),Afiliados (Contributivo),Numero de cápitas pagadas (Total),Numero de cápitas pagadas (Subsidiado),Numero de cápitas pagadas (Contributivo),Número de cápitas /afiliado (Total),Número de cápitas /afiliado (Subsidiado),Número de cápitas /afiliado (Contributivo)
1,2005.0,NaN,253374.0,253374.0,0.0,266531.0,266531.0,0.0,1.051927,1.051927,0.0
2,2006.0,NaN,514040.0,514040.0,0.0,513416.0,513416.0,0.0,0.998786,0.998786,0.0
3,2007.0,NaN,2559117.0,1081936.0,1477181.0,2681403.0,1081936.0,1599467.0,1.047784,1.0,1.082783
4,2008.0,NaN,2917157.0,1224898.0,1692259.0,2954314.0,1224643.0,1729671.0,1.012737,0.999792,1.022108
5,2009.0,NaN,3492524.0,1404225.0,2088299.0,3442398.0,1346166.0,2096232.0,0.985648,0.958654,1.003799
6,2010.0,NaN,4377869.0,2013786.0,2364083.0,4265825.0,1847833.0,2417992.0,0.974407,0.917592,1.022803
7,2011.0,NaN,4520850.0,2003427.0,2517423.0,4583278.0,1996335.0,2586943.0,1.013809,0.99646,1.027616
8,2012.0,NaN,4991762.0,2303351.0,2688411.0,5042091.0,2294356.0,2747735.0,1.010082,0.996095,1.022067
9,2013.0,NaN,5611059.0,2751753.0,2859306.0,5612213.0,2646899.0,2965314.0,1.000206,0.961896,1.037075
10,2014.0,NaN,6157245.0,3015646.0,3141599.0,6240593.0,3015646.0,3224947.0,1.013537,1.0,1.02653
11,2015.0,NaN,6657243.0,3317405.0,3339838.0,6517618.0,3110557.0,3407061.0,0.979027,0.937648,1.020128
12,2016.0,NaN,6938356.0,3347068.0,3591288.0,7053382.0,3353566.0,3699816.0,1.016578,1.001941,1.03022
13,2017.0,NaN,7449280.0,3546688.0,3902592.0,7565682.0,3545383.0,4020299.0,1.015626,0.999632,1.030161
14,2018.0,NaN,7774137.0,3620150.0,4153987.0,7831518.0,3591049.0,4240469.0,1.007381,0.991961,1.020819
15,2019.0,NaN,7954923.0,3726262.0,4228661.0,8021503.0,3711158.0,4310345.0,1.00837,0.995947,1.019317
16,2020.0,NaN,9961742.0,5746839.0,4214903.0,10087942.0,5742227.0,4345715.0,1.012668,0.999197,1.031036
17,2021.0,NaN,10032808.0,5747449.0,4285359.0,4359036.0,0.0,4359036.0,0.434478,0.0,1.017193
21,2022*,Cuarto trimestre,10339111,5770201,4568910,4649234,0,4649234,0.449674,0,1.017581
25,2023,Cuarto trimestre,10267254,5690186,4577068,4662640,0,4662640,0.509348,0,1.018696

In [8]:
# Dropping unwanted columns
capitas_pagadas.drop('Años (nan) 1', axis=1, inplace=True)
capitas_pagadas

C:\Users\Harol Reyes\AppData\Local\Temp\ipykernel_26712\3847269345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  capitas_pagadas.drop('Años (nan) 1', axis=1, inplace=True)

,Años (nan),Afiliados (Total),Afiliados (Subsidiado),Afiliados (Contributivo),Numero de cápitas pagadas (Total),Numero de cápitas pagadas (Subsidiado),Numero de cápitas pagadas (Contributivo),Número de cápitas /afiliado (Total),Número de cápitas /afiliado (Subsidiado),Número de cápitas /afiliado (Contributivo)
1,2005.0,253374.0,253374.0,0.0,266531.0,266531.0,0.0,1.051927,1.051927,0.0
2,2006.0,514040.0,514040.0,0.0,513416.0,513416.0,0.0,0.998786,0.998786,0.0
3,2007.0,2559117.0,1081936.0,1477181.0,2681403.0,1081936.0,1599467.0,1.047784,1.0,1.082783
4,2008.0,2917157.0,1224898.0,1692259.0,2954314.0,1224643.0,1729671.0,1.012737,0.999792,1.022108
5,2009.0,3492524.0,1404225.0,2088299.0,3442398.0,1346166.0,2096232.0,0.985648,0.958654,1.003799
6,2010.0,4377869.0,2013786.0,2364083.0,4265825.0,1847833.0,2417992.0,0.974407,0.917592,1.022803
7,2011.0,4520850.0,2003427.0,2517423.0,4583278.0,1996335.0,2586943.0,1.013809,0.99646,1.027616
8,2012.0,4991762.0,2303351.0,2688411.0,5042091.0,2294356.0,2747735.0,1.010082,0.996095,1.022067
9,2013.0,5611059.0,2751753.0,2859306.0,5612213.0,2646899.0,2965314.0,1.000206,0.961896,1.037075
10,2014.0,6157245.0,3015646.0,3141599.0,6240593.0,3015646.0,3224947.0,1.013537,1.0,1.02653
11,2015.0,6657243.0,3317405.0,3339838.0,6517618.0,3110557.0,3407061.0,0.979027,0.937648,1.020128
12,2016.0,6938356.0,3347068.0,3591288.0,7053382.0,3353566.0,3699816.0,1.016578,1.001941,1.03022
13,2017.0,7449280.0,3546688.0,3902592.0,7565682.0,3545383.0,4020299.0,1.015626,0.999632,1.030161
14,2018.0,7774137.0,3620150.0,4153987.0,7831518.0,3591049.0,4240469.0,1.007381,0.991961,1.020819
15,2019.0,7954923.0,3726262.0,4228661.0,8021503.0,3711158.0,4310345.0,1.00837,0.995947,1.019317
16,2020.0,9961742.0,5746839.0,4214903.0,10087942.0,5742227.0,4345715.0,1.012668,0.999197,1.031036
17,2021.0,10032808.0,5747449.0,4285359.0,4359036.0,0.0,4359036.0,0.434478,0.0,1.017193
21,2022*,10339111,5770201,4568910,4649234,0,4649234,0.449674,0,1.017581
25,2023,10267254,5690186,4577068,4662640,0,4662640,0.509348,0,1.018696

## CNSS

In [9]:
data = pd.read_excel('../data/raw/cnss/Excel-–-Regimen-Contributivo-Recaudos-y-Pagos-Seguro-Familiar-de-Salud-Seguros-Julio-2003-a-Noviembre-2024.xlsx')
data.head()

,Año,Meses,Total afiliación,Titulares,Dependientes,Dependientes Adicionales
0,2007,Septiembre,1207959,0,0,0
1,2007,Octubre,1534269,0,0,0
2,2007,Noviembre,1443635,0,0,0
3,2007,Diciembre,1599467,0,0,0
4,2008,Enero,1467695,0,0,0

In [10]:
data2 = pd.read_excel('../data/raw/cnss/Excel-–-Regimen-Subsidiado-Aportes-Pagos-Seguro-Familiar-de-Salud-Enero-2004-octubre-2024-a-Noviembre-2024-1.xlsx', engine='openpyxl')
data2.head()

,Año,Mes,Aportes del Gobierno Central (RD$),Valor Pagado a SENASA (RD$)
0,2004,Enero,10000000.0,1.308840e+07
1,2004,Febrero,0.0,0.000000e+00
2,2004,Marzo,27646666.0,1.948879e+09
3,2004,Abril,13573333.0,0.000000e+00
4,2004,Mayo,21761000.0,0.000000e+00

In [11]:
# Standardizing columns names.
columns = ['mes' if column.lower().strip() == 'meses' else column.lower().strip() for column in data.columns]
# Updating the columns names.
data.columns = columns
# Creating a new column combining the year and month.
data['fecha'] = data['año'].astype('str') + ' ' + data['mes']

# Dropping the month and year
data.drop(['año', 'mes'], axis=1, inplace=True)
data.head()

,total afiliación,titulares,dependientes,dependientes adicionales,fecha
0,1207959,0,0,0,2007 Septiembre
1,1534269,0,0,0,2007 Octubre
2,1443635,0,0,0,2007 Noviembre
3,1599467,0,0,0,2007 Diciembre
4,1467695,0,0,0,2008 Enero

In [12]:
# Standardizing columns names.
columns = ['mes' if column.lower().strip() == 'meses' else column.lower().strip() for column in data2.columns]
# Updating the columns names.
data2.columns = columns
# Creating a new column combining the year and month.
data2['fecha'] = data2['año'].astype('str') + ' ' + data2['mes']
# Dropping the month and year
data2 = data2.iloc[:, 2:]
data2.head()

,aportes del gobierno central (rd$),valor pagado a senasa (rd$),fecha
0,10000000.0,1.308840e+07,2004 Enero
1,0.0,0.000000e+00,2004 Febrero
2,27646666.0,1.948879e+09,2004 Marzo
3,13573333.0,0.000000e+00,2004 Abril
4,21761000.0,0.000000e+00,2004 Mayo

In [13]:
# Merging datasets.
data3 = pd.merge(data, data2, on='fecha')

# Splitting the date into year and month.
data3[['anio', 'mes']] = data3['fecha'].str.split(' ', expand=True, n=1)

# Dropping "date" columns.
data3.drop('fecha', axis=1, inplace=True)
data3.head()

,total afiliación,titulares,dependientes,dependientes adicionales,aportes del gobierno central (rd$),valor pagado a senasa (rd$),anio,mes
0,3476589,1563494,1733740,179355,669346479.0,6.811959e+08,2016,Enero
1,3455629,1562515,1714575,178539,711711000.0,6.807787e+08,2016,Febrero
2,3580871,1619765,1778698,182408,711711000.0,6.718676e+08,2016,Marzo
3,3560883,1613308,1765025,182550,711711000.0,6.729397e+08,2016,Abril
4,3600238,1622071,1793644,184523,711711000.0,6.774775e+08,2016,Mayo

## ,